# Pastas de Modelos (Muito pesadas para o GitHub)
bertimbau_tuned_scielo/
bertimbau_tuned_scielo_final/

# Arquivos temporários do Python
__pycache__/
*.pyc

# Resultados locais (opcional, se não quiser subir no GitHub)
*.csv
*.png