{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <p id="titulo">COMPARAÇÃO SEMÂNTICA DE ARQUIVOS</p>

    <div id="divInstrucoes"> 
        <ul id="intrucoes">
            <li>Clique nas caixas ou arraste os arquivos para slecioná-los</li>
            <li>Note que o máximo de arquivos é 6 (1 principal e até 5 para comparações com o principal).</li>
            <li>Na primeira caixa, coloque o arquivo principal, que será comparado aos outros.</li>
            <li>Na segunda caixa, coloque até 5 arquivos para serem comparados ao arquivo principal.</li>
            <li>Caso coloque mais de 6 arquivos, receberá uma mensagem de erro e terá que selecionar novamente.</li>
            <li>Caso coloque arquivos errados, clique no botão "Limpar" e selecione novamente.</li>
            <li>Se houver um arquivo principal e, pelo menos, um arquivo a ser comparado, clique no botão "Comparar".</li>
            <li>Por favor, espere enquanto o programa compara seus arquivos. O resultado será exibido na caixa abaixo dos botões!</li>
        </ul>
    </div>
        

    <div id="principal">
        <div id="labelDiv">
            <label id="drop-zone">
            Clique ou arraste o arquivo principal .txt ou .pdf.
            <input type="file" id="file-input" multiple accept="txt/*" />
            </label>
        </div>
    </div>

    <div id="secondDiv"> 
        <div id="buttomDiv"> 
            <button id="clear-btn">Limpar</button>
            <button id="compare-btn">Comparar</button>
        </div>

        <div id="lista"> 
            <div id="previewsHere"> 
                <ul id="preview">

                </ul>
            </div>
        </div>    
    </div>

    <script src="{% static 'js/cincoArquivos.js' %}"></script>
</body>
</html>