#principal{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;   
}

#secondDiv{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px; 
  flex-direction: column;
}
#titulo{
  font: Arial;
  font-size: 28px;
  color: black;
  font-weight: bold; 
  margin: 0;
  display: flex;
  justify-content: center; 
  align-items: center;
}

#labelDiv {
  height: 100%; 
  margin: 0;
  display: flex;
  justify-content: center; 
  align-items: center;  
  padding-top: 4%; 
  flex-direction: row;
}

#secondFile{
  justify-content: center; 
  align-items: center; 
  height: 100%; 
  margin: 0;
  display: flex;
  flex-direction: row;
  padding-top: 4%;
}

#previewsHere {
  width: 100%;
  height: 100%;
  overflow-y: auto;      
  padding-right: 5px;   
}

#lista {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;   
  border: 1px solid #cccccc;
  border-radius: 4px;
  color: slategray;
  width: 500px;
  max-width: 100%;
  height: 300px;        
  padding: 15px;    
}

ul#preview {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
}

#preview li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
  width: 38%;            
  height: auto;          
}

#buttomDiv{
  padding-top: 2%; 
  padding-bottom: 1%;
  height: 100%; 
  margin: 0;
  display: flex;
  flex-direction: row;
}

body {
  font-family: "Arial", sans-serif;
}

#drop-zone, #drop-zone2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  max-width: 100%;
  height: 200px;
  padding: 1em;
  border: 1px solid #cccccc;
  border-radius: 4px;
  color: slategray;
  cursor: pointer;
}

#file-input, #file-input2 {
  display: none;
}

#back-btn, #compare-btn, #clear-btn {
  font: 14px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
  border-radius: 5px;
}

